/**
 * @author Slimane Siroukane
 */

.button {
    -fx-min-height: 2.5em;
    -fx-min-width: 2.5em;
    -fx-background-size: 2em 2em;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#backButton {
    -fx-background-image: url('../images/back_icon_enabled.png');
}

#backButton:disabled {
    -fx-background-image: url('../images/back_icon_disabled.png');
    -fx-background-color: #ff8888;
}

#nextButton {
    -fx-background-image: url('../images/next_icon_enabled.png');
}

#nextButton:disabled {
    -fx-background-image: url('../images/next_icon_disabled.png');
    -fx-background-color: #ff8888;
}
